<h3>Your secrets</h3>
<% @mysecrets.each do |secret| %>
  <div style='border:1pt solid blue;'>
      <p><%= secret.content %> </p>
      <p>Like count:
      <% if @likecounts[secret.id] %>
      <%= @likecounts[secret.id] %>
      <% else %>
      0
      <% end %>
      </p>
      <form action ='' method="post">
      <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
      <input type='hidden' value='delete' name='_method'>
      <input type = 'hidden' name='secret[id]' value='<%= secret.id %>' id='secretid<%= secret.id %>'>
      <input type = 'hidden' name='secret[user_id]' value='<%= secret.user.id %>' id='secret_user_id'>
      <input type='submit' value= "DESTROY THE SECRET FOREVER!" id='deletesecretbutton<%= secret.id %>'>
      </form>
      <% if @mylikedsecrets.include?(secret) %>
      <form action ='likes/destroy' method="post">
      <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
      <input type ='hidden' name='_method' value='DELETE'>
      <input type = 'hidden' name='like[secret_id]' value='<%= secret.id %>' id='secretid<%= secret.id %>'>
      <input type = 'hidden' name='like[user_id]' value='<%= @user.id %>' id='like_user_id'>
      <input type='submit' value= "UNLIKE" id='unlikesecretbutton<%= secret.id %>'>
      </form>

    <% else %>
    <form action ='likes/create' method="post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = 'hidden' name='like[secret_id]' value='<%= secret.id %>' id='secretid<%= secret.id %>'>
    <input type = 'hidden' name='like[user_id]' value='<%= @user.id %>' id='like_user_id'>
    <input type='submit' value= "LIKE" id='likesecretbutton<%= secret.id %>'>
    </form>    

    <% end %>
    </div>
    <% end %>

  <h3>Everyone's Secrets</h3>
  <% @secrets.each do |i| %>
    <h5><%= i.content %> Like count:
    <% if @likecounts[i.id] %>
    <%= @likecounts[i.id] %>
    <% else %>
    0
    <% end %>
    <% if @mylikedsecrets.include?(i) %>
    <form action ='likes/destroy' method="post">
    <input type='hidden' name='_method' value='delete'>
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = 'hidden' name='like[secret_id]' value='<%= i.id %>' id='secretid<%= i.id %>'>
    <input type = 'hidden' name='like[user_id]' value='<%= @user.id %>' id='like_user_id'>
    <input type='submit' value= "UNLIKE" id='unlikesecretbutton<%= i.id %>'>
    </form>

    <% else %>
    <form action ='likes/create' method="post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type = 'hidden' name='like[secret_id]' value='<%= i.id %>' id='secretid<%= i.id %>'>
    <input type = 'hidden' name='like[user_id]' value='<%= @user.id %>' id='like_user_id'>
    <input type='submit' value= "LIKE" id='likesecretbutton<%= i.id %>'>
    </form>    

    <% end %>
  <% end %> 