<h1>All your secrets</h1>
<% @secrets.each do |i| %>
    <h5><%= i.content %></h5>
    <form action ='' method="post">
    <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
    <input type='hidden' value='delete' name='_method'>
    <input type = 'hidden' name='secret[id]' value='<%= i.id %>' id='secretid<%= i.id %>'>
    <input type = 'hidden' name='secret[user_id]' value='<%= i.user.id %>' id='secret_user_id'>
    <input type='submit' value= "DESTROY THE SECRET FOREVER!" id='deletesecretbutton<%= i.id %>'>
    </form>
    <% end %>

<h3>Add a secret:</h3>
<% if flash[:notice] %>
  <% flash[:notice].each do |key,value| %>
    <p id="notice"><%= key %> <%= value[0] %></p>  
  <% end %>
<% end %>
<form action = "" method = "post">
  <input type = 'hidden' name = "authenticity_token" value = "<%=form_authenticity_token%>">
  <input type = 'hidden' name='secret[user_id]' value='<%=@user.id %>' id='secret_user_id'>
  <label>Secret Message</label>
  <textarea name = "secret[content]" id = "secret_content"></textarea>
  <input type = "submit" value = "Submit" id='addsecretbutton'>
</form>

