<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="container">
  <h2>Edit to keep more secrets hidden...</h2>
  <form class="form-group" action="/users/<%=current_user.id%>/" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label for="">Email:</label>
    <input class="form-control" type="text" id="Email" name="user[email]" value="<%=current_user.email%>">
    <label for="">Name:</label>
    <input class="form-control" type="text" id="Name" name="user[name]" value="<%=current_user.name%>">
    <button class="btn btn-primary mt-3" type="submit">Update</button>
  </form>
  <a class="btn btn-dark" href="/users/<%=current_user.id%>" role="button">Dashboard</a>
  <a class="btn btn-danger" href="/users/<%=current_user.id%>" role="button" data-method="delete">Delete Account</a>
</div>
