

<% @secrets.each do |secret| %>
  <div class="border border-dark m-1">

    <p class='d-inline-block'><%= secret.content %></p>
    <% if session[:user_id] == secret.user_id %>
      <form class="form-group d-inline-block" action="/secrets/<%= session[:user_id] %>" method="post">
          <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="secret[secret_id]" value="<%= secret.id %>">
        <button class='btn btn-danger' type="submit" name="Delete Secret">Delete Secret</button>
      </form>
    <% end %>

    <% if @count[secret.id] == nil %>
      <p>0 likes</p>
      <form class="form-group " action="/likes" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="secret[secret_id]" value="<%= secret.id %>">
        <button class='btn btn-primary' type="submit" name="Like">Like</button>
      </form>
    <% else %>
      <p><%= @count[secret.id] %> likes</p>
    <% end %>




    <% secret.likes.each do |i| %>
      <% if i.user_id == session[:user_id] %>
        <form class="form-group " action="/likes/<%= i.id %>" method="post">
          <input type="hidden" name="_method" value="delete">

          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="secret[secret_id]" value="<%= secret.id %>">
          <button class='btn btn-dark' type="submit" name="Unlike">Unlike</button>
        </form>
      <% else %>
        <form class="form-group " action="/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="secret[secret_id]" value="<%= secret.id %>">
          <button class='btn btn-primary' type="submit" name="Like">Like</button>
        </form>
      <% end %>
    <% end %>
  </div>

<% end %>
