<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<title>Ninja Gold</title>
</head>
<body>
	<div id='wrapper' class="container">
		<div id='header'>
			<h3><strong>Your Gold:</strong><%= session[:gold] %> </h3>
		</div>

		<div id='main-content' class="row m-3">
			<div class='border border-dark col-lg-3 d-inline_block p-2'>
				<h2>Farm</h2>
				<p>(earns 10-20 gold)</p>
				<form action='rpg/farm' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name='action' value='farm'>
					<input type='submit' value='Find gold'>
				</form>
			</div>
			<div class='border border-dark col-lg-3 d-inline_block p-2'>
				<h2>Cave</h2>
				<p>(earns 5-10 gold)</p>
				<form action='rpg/cave' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name='action' value='cave'>
					<input type='submit' value='Find gold'>
				</form>
			</div>
			<div class='border border-dark col-lg-3 d-inline_block p-2'>
				<h2>House</h2>
				<p>(earns 2-5 gold)</p>
				<form action='rpg/house' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name='action' value='house'>
					<input type='submit' value='Find gold'>
				</form>
			</div>
			<div class='border border-dark col-lg-3 d-inline_block p-2'>
				<h2>Casino</h2>
				<p>(earns/takes 0-50 gold)</p>
				<form action='rpg/casino' method='post'>
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
					<input type='hidden' name='action' value='casino'>
					<input type='submit' value='Find gold'>
				</form>
			</div>
		</div>

		<div id='footer'>
			<p>Activities</p>
            <div class='container'>
                <%= session[:activity].html_safe %>
			</div>
		</div>
	</div>
</body>
</html>