<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<% if flash[:notice] %>
    <p class="bg-success text-white"><%= flash[:notice] %></p>
<% end %>

<p><%= "You have submitted this form #{pluralize(session[:counter], 'time')}" %></p>

    <b><u>Submitted Info</u></b>
    <ul>
      <li>Name: <%= @user.name %> </li>
      <li>Dojo Location: <%= @user.location %> </li>
      <li>Favorite Language: <%= @user.language %> </li>
      <li>Comment:<%= @user.comment %> </li>
    </ul>
