<h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p>
<% @secrets.each do |secret| %>
  <p><%= secret.content %></p>
  <p><%= secret.likes.count %> likes</p>
    <% if secret.users.include?(current_user)%>
        <% secret.likes.each do |like| %>
            <% if current_user.likes.include?(like) %>
            <form class="form-group" action="/likes/<%= like.id%>" method="post">
                <input type="hidden" name="_method" value="delete">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <button class="btn btn-danger" type="submit" name="Unlike">Unlike</button>
            </form>
            <% end %>
        <% end %>
    <% else %>
            <form class="form-group" action="/likes/" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
                <button class="btn btn-success" type="submit" name="Like">Like</button>
            </form>
        
    <% end %>
  <% if current_user == secret.user %>
    <form class="form-group" action="/secrets/<%=secret.id%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <button class="btn btn-danger" type="submit" name="Delete Secret">Delete Secret</button>
    </form>
  <% end %>
<% end %>