<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Survey Form</title>
    
    
</head>
<body>
    <% if flash[:success] %>
    <div class="bg-success container col-lg-6 m-2 p-3"><%= flash[:success] %></div>
    <% end %>
    <div class="container col-lg-6 bg-info text-white p-3 m-2">
        <h1>Submitted Info</h1>
        <h3>Name:                  <%=@survey.name%></h3>
        <h3>Dojo Location:         <%=@survey.location%></h3>
        <h3>Favorite Language:     <%=@survey.language%></h3>
        <h3>Comments:              <%=@survey.comment%></h3>
        <a class= "btn btn-light" href="/">Return</a>
    </div>
</body>
</html>