<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class="row bg-primary">
  <h1>Coding Dojo Wall</h1>
  <h1>Welcome <%= @user.name %></h1>
  <a href="/users/logout" name='Logout'>Logout</a>
</div>

<div class="container">
  <div class="col-lg-8">
    <h3>Post A Message</h3>
    <% if flash[:notice] %>
      <% flash[:notice].each do |note| %>
        <p class='bg-danger text-white' id="notice"><%= note %></p>
      <% end %>
    <% end %>
    <form class="form-group" action="/messages" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <textarea class='form-control' name="message[content]" rows="4"></textarea>
      <input type="hidden" name="message[user_id]" value="<%= session[:user_id] %>">
      <button type="submit" name="Post a Message">Post a Message</button>
    </form>
  </div>
  <% @messages.each do |message| %>
    <div class="col-lg-8">
      <h6><%= message.user.name %> - <%= message.created_at %></h6>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>
