
<div class"container">
  <h1>Secrets</h1>
  <a class="btn btn-primary" href="/users/<%=@user.id%>" role="button">My Profile</a>
  <% @secrets.each do |secret| %>

    <h3 class="mt-3"><%= secret.content%></h3>
    <h5><%= secret.likes.count %> likes</h5>

    <% if @user == secret.user %>
     <form action='/secrets/<%= secret.id %>' method='post'>
       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
     	<input type="hidden" name="_method" value="delete">
     	<button type='submit' class="btn btn-danger mt-3">Delete Secret</button>
     </form>
    <% end %>

    <% if @user.secrets_liked.include?(secret) %>
    	<form action='/likes/<%= secret.likes.find_by(user_id: session[:user_id]).id %>' method='post'>
    		<input type="hidden" name="_method" value="delete">
    		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    		<button type='submit' class="btn mt-2">Unlike</button>
    	</form>
    <% else %>
    	<form action='/likes' method='post'>
    		<input type='hidden' name='user' value='<%= @user.id %>'>
    		<input type='hidden' name='secret' value='<%= secret.id %>'>
    		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    		<button type='submit' class="btn mt-2">Like</button>
    	</form>
    <% end %>


  <% end %>
</div>
