<h2>Results</h2>
		<p>Thanks for submitting this form. You have submitted this form <%= @count %> times now.</p>
<h2>Survey form results</h2>
<p>Name: <%= @results['name'] %></p>
<p>Location: <%= @results['location'] %></p>
<p>Language: <%= @results['lang'] %></p>
<p>Comments: <%= @results['comment'] %></p>
<a href="/">Go Back</a>