  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <div class="container text-center">
    <p>Your Gold:  <%= session[:gold] %></p>
    </div>
    <div class="row pt-4">
      <div class="col-sm-3">
        <div class="card ml-5">
          <div class="card-body">
            <h5 class="card-title">Farm</h5>
            <p class="card-text">(earns 10-20 golds)</p>
            <form action="/monies" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
              <input type="hidden" name="min" value="10">
              <input type="hidden" name="max" value="20">
              <input type="hidden" name="title" value="farm">
              <button type="submit" class="btn btn-secondary">Find Gold!</button>
            </form>
          </div>
        </div>
      </div>
    <div class="col-sm-3">
      <div class="card">
          <div class="card-body">
          <h5 class="card-title">Cave</h5>
          <p class="card-text">(earns 5-10 golds)</p>
          <form action="/monies" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="title" value="cave">
            <input type="hidden" name="min" value="5"/>
            <input type="hidden" name="max" value="10"/>
            <button type="submit" class="btn btn-secondary">Find Gold!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">House</h5>
          <p class="card-text">(earns 2-5 golds)</p>
          <form action="/monies" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="min" value="2"/>
            <input type="hidden" name="max" value="5"/>
            <input type="hidden" name="title" value="house">
            <button type="submit" class="btn btn-secondary">Find Gold!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card mr-5">
        <div class="card-body">
          <h5 class="card-title">Casino</h5>
          <p class="card-text">(earns/takes 0-50 golds)</p>
          <form action="/monies" method="post">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="min" value="-50"/>
            <input type="hidden" name="max" value="50"/>
            <input type="hidden" name="title" value="casino">
            <button type="submit" class="btn btn-secondary">Find Gold!</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div class="container pt-6">
      <label for="Comment">Activities</label>
      <div class="form-control" name="activities" rows="5">
        <% session[:activities].each do |activity| %>
          <% if activity[1] == 1 %>
            <p style="color: red;"><%= activity[0] %></p>
          <% end %>
          <% if activity[1] == 0 %>
            <p style="color: green;"><%= activity[0] %></p>
          <% end %>
        <%end%>
      </div>
    </div>
