<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<div class='container-fluid mh-100'>
  <div class='row'>
      <h2>Your Gold:</h2>
      <h2 class='border border-dark'><%= session[:gold] %></h2>
  </div>

  <div class='row'>
      <div class='col-lg-2 border border-dark m-1'>
          <h1>Farm</h1>
          <p>(earns 10-20 Gold)</p>
          <form action="/process" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="gold" value="farm" >
            <button class="btn btn-primary" type="submit" name="button" value='submit'>Find Gold!</button>
          </form>
      </div>
      <div class='col-lg-2 border border-dark m-1'>
          <h1>Cave</h1>
          <p>(earns 5-10 Gold)</p>
          <form action="/process" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="gold" value="cave" >
            <button class="btn btn-primary" type="submit" name="button" value='submit'>Find Gold!</button>
          </form>
      </div>
      <div class='col-lg-2 border border-dark m-1'>
          <h1>House</h1>
          <p>(earns 2-5 Gold)</p>
          <form action="/process" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="gold" value="house" >
            <button class="btn btn-primary" type="submit" name="button" value='submit'>Find Gold!</button>
          </form>
      </div>
      <div class='col-lg-2 border border-dark m-1'>
          <h1>Casino</h1>
          <p>(earns/takes 0-50 Gold)</p>
          <form action="/process" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="hidden" name="gold" value="casino">
            <button class="btn btn-primary" type="submit" name="button" value='submit'>Find Gold!</button>
          </form>
      </div>
  </div>
  <div class='row'>
      <h4>Activities:</h4>
  </div>
  <div id='activity' class='row border border-dark m-2'>
      <div class='col-lg-8' style="height: 300px; overflow-y: scroll;">
        <% session[:activity].reverse.each do |i| %>
          <%= i.html_safe %>
        <% end %>
      </div>
  </div>
</div>
