<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<div class="container">
  <h1>Listing <%=@count %> Dojos</h1>
  <table class="table">
    <tr>
      <th scope="col">Coding Dojo Branch</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Actions</th>
    </tr>
    <% @dojos.each do |dojo| %>
      <tr>
        <td><%=dojo.branch%></td>
        <td><%=dojo.street%></td>
        <td><%=dojo.city%></td>
        <td><%=dojo.state%></td>
        <td>
          <a href="dojos/<%= dojo.id%>">Show</a>
          <a href="dojos/<%= dojo.id%>/edit">Edit</a>
          <a href="/dojos/<%= dojo.id %>" data-method="delete">Destroy</a>
      </tr>
    <%end%>
  </table>

  <a href="/dojos/new">New Dojo</a>
</div>
