<h1>Branch: <%= @dojo['branch'] %> </h1>
<h1>Address: <%= @dojo['street'] %>, <%= @dojo['city'] %>, <%= @dojo['state'] %></h1>
<h1>
<a href="/dojos"> Home </a>|
<a href="/dojos/<%= @dojo['id'] %>/edit">Edit</a>